In [10]:
num1 = float(input())

5

In [11]:
num2 = float(input())

6

In [12]:
num1 + num2
print ("sum", num1 + num2)

sum 11.0

In [16]:
number1 = float(input())

25

In [17]:
number2 = float(input())

5

In [23]:
number1 / number2
print ("division" , number1 / number2)

division 5.0

In [24]:
breath = 10
height = 15
breath*height/2
print("the area of triangleis" , breath*height/2)

the area of triangleis 75.0

In [25]:
stuff = 3
type(stuff)

int

In [26]:
saadcar = 44.3
type(saadcar)

float

In [27]:
name = "saadkhanenterprenour"
type(name)

str

In [40]:
saad = False
type(saad)

bool